<div class='mt-4' style="padding-top: 60px; ">
<div class="row">
  <h3 style="text-align: center;">Đăng sản phẩm</h3>
  <div class="col-3"> </div>
  <div class="col-6">
    <form method='post' action='/watchs/store'>
      <div class='mb-3'>
        <label for='name' class='form-label'>Tên sản phẩm</label>
        <input type='text' class='form-control' id='name' name='name' />
      </div>
      <div class='mb-3'>
        <label for='type' class='form-label'>Loại ('nam' hoặc 'nu' hoặc 'tre-em')</label>
        <input type='text' class='form-control' id='type' name='type' />
      </div>
      <div class='mb-3'>
        <label for='description' class='form-label'>Mô tả</label>
        <input type='text' class='form-control' id='description' name='description'
        />
      </div>
      <div class='mb-3'>
        <label for='imageID' class='form-label'>ID ảnh (Lấy id ảnh từ trang: https://www.michaelkors.global/en_AU/ )</label>
        <input type='text' class='form-control' id='imageID' name='imageID' />
      </div>
      <div class='mb-3'>
        <label for='price' class='form-label'>Giá (VNĐ)</label>
        <input type='text' class='form-control' id='price' name='price' />
      </div>

      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
  </div>
  <div class="col-3"> </div>
</div>


  
</div>