<div class='footer-wrapper'>
  <footer class='main-footer showing-2-lists'>
    <div class='left' >
      <img class='footerlogo' src='https://seeklogo.com/images/W/Watch_Your_Watches-logo-B511B54337-seeklogo.com.png'/>
      <div class='spread-the-word'>
        <h4>Never miss a new watch.</h4>
        <a class='footer-share-icon facebook-link' href='https://www.facebook.com/binh.nguyenphu.549/' target='_blank'>
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a class='footer-share-icon' href='https://www.instagram.com/nguyenphu_binh/?hl=vi' target='_blank'>
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a class='footer-share-icon' href='https://twitter.com/Phubinh10' target='_blank'>
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
    </div>
    </div>
    <div class='right'>
      <div class='footer-link-list footer'>
        <h4>About  
          <ion-icon name="watch-outline"></ion-icon>WatchB
        </h4>
        <ul>
          <li><a href='/introduce'> Thương hiệu WatchB
              <span class='rightArrow'>→</span></a></li>
          <li><a href='/watchs/showNam'> Đồng hồ Nam
              <span class='rightArrow'>→</span></a></li>
          <li><a href='/watchs/showNu'> WatchB nữ
              <span class='rightArrow'>→</span></a></li>
          <li><a href=''> Doanh số bán hàng
              <span class='rightArrow'>→</span></a></li>
          <li><a href=''> Caravelle
              <span class='rightArrow'>→</span></a></li>
        </ul>
      </div>
      <div class='footer-link-list customer-service'>
        <h4>Dịch vụ khách hàng</h4>
        <ul>
          <li><a href='csBaoHanh'>Chính sách bảo hành
              <span class='rightArrow'>→</span></a></li>
          <li><a href='bpVhd'>Bộ phận &amp; Hướng dẫn sử dụng
              <span class='rightArrow'>→</span></a></li>
          <li><a href='cauHoi'>Câu hỏi thường gặp
              <span class='rightArrow'>→</span></a></li>
          <li><a href='/csBaoHanh'>Bảo hành &amp; Sửa chửa
              <span class='rightArrow'>→</span></a></li> 
          <li><a href='lienHe'>Liên hệ chúng tôi
              <span class='rightArrow'>→</span></a></li>
        </ul>
      </div>
      <div class='copyright footer-module' role='contentinfo'>
        <p>© 2022. WatchB. All rights reserved.
          <a href=''>Terms &amp; conditions</a><br
          />
        </p>
      </div>
    </div>
  </footer>
</div>