<div class="row" style="padding-top: 50px;">
    <div class="col-2"> </div>
    <div class="col-8 pt-4 mt-4" style="padding-top: 30px;">
        <h4 style="text-align: center;"><b >Bộ phận và Hướng dẫn</b></h4>
        <p><h5>Bộ phận</h5></p>
        <p>
            <p>Vui lòng liên hệ với bộ phận phụ tùng của chúng tôi tại watchB@gmail.com hoặc gọi 567-432-5432.</p>
        </p>
        <p><h5>Hướng dẫn</h5></p>
        <p>
            <p>Vui lòng tham khảo hướng dẫn sử dụng đi kèm với đồng hồ WatchB của bạn. Nếu bạn không có hướng dẫn sử dụng WatchB, 
                vui lòng xem hướng dẫn tiêu chuẩn của chúng tôi để đọc thông tin chung về cách cài đặt và bảo trì đồng hồ của bạn.</p>
            <div class="row">
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/precisionist_240x240.png?v=1645826080" alt="">
                </div>
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/marine-star_240x240.png?v=1645826134" alt="">
                </div>
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/wilton-auto_240x240.png?v=1645826201" alt="">
                </div>
            </div><br>
            <div class="row">
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/rubaiyat_240x240.png?v=1645826250" alt="">
                </div>
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/CURV_240x240.png?v=1645826283" alt="">
                </div>
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/chrono-c_240x240.png?v=1645826311" alt="">
                </div>
            </div><br>
            <div class="row">
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/lunar-pilot_240x240.png?v=1645826383" alt="">
                </div>
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/computron_240x240.png?v=1645826410" alt="">
                </div>
                <div class="col-4">
                    <img src="https://cdn.shopify.com/s/files/1/1128/6670/files/A-15_240x240.png?v=1645826432" alt="">
                </div>
            </div>
        </p>
        
    </div>
    
    <div class="col-2"> </div>
</div>