<div class="row" style="padding-top: 50px;">
    <div class="col-2"> </div>
    <div class="col-8 pt-4 mt-4" style="padding-top: 30px;">
        <h4 style="text-align: center;"><b >Câu hỏi thường gặp</b></h4>
        <p>
            <b>Đồng hồ của tôi bị hỏng, làm thế nào tôi có thể sửa chữa nó?</b><br>
            <p>WatchB có một số trung tâm dịch vụ trên khắp cả nước. Vui lòng xem danh sách các trung tâm bảo hành WatchB của chúng tôi để tìm trung tâm gần bạn nhất. 
                Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi tại http://localhost:3000/lienHe hoặc gọi số miễn phí 123-456-4322, từ Thứ Hai đến Thứ Sáu, 
                9 giờ sáng đến 8 giờ tối theo giờ EST.</p>
        </p>
        <p>
            <b>Tôi cần một dây đeo mới (hoặc các liên kết mới) cho đồng hồ của mình, tôi có thể lấy chúng ở đâu?</b><br>
            <p>Nếu bạn ở Việt Nam, vui lòng gửi email tới wacthB@gmail.com để yêu cầu các bộ phận bạn đang tìm kiếm. Ở các quốc gia khác, vui lòng liên hệ watchB@work.com.</p>
        </p>
        <p>
            <b>Pin của tôi đã hết, tôi có thể lấy pin mới ở đâu?</b><br>
            <p>Chúng tôi khuyên bạn nên mang đồng hồ đến đại lý bán lẻ WatchB được ủy quyền gần nhất. Sử dụng Công cụ định vị cửa hàng của chúng tôi để tìm đại lý được 
                ủy quyền gần bạn.</p>
        </p>
        <p>
            <b>Làm cách nào để biết đồng hồ của tôi có phải là hàng thật hay không?</b><br>
            <p>Cách dễ nhất để biết đồng hồ của bạn có phải là đồng hồ chính hãng hay không là nếu nó được mua từ một nhà bán lẻ WatchB được ủy quyền. 
                Nếu bạn không chắc chắn, vui lòng liên hệ với nhà bán lẻ mà bạn đã mua nó hoặc liên hệ với chúng tôi theo địa chỉ watchB@gmail.com.</p>
        </p>
        <p>
            <b>Tôi có thể tìm hiểu về bảo hành của mình ở đâu?</b><br>
            <p>Đồng hồ của bạn được Bảo hành toàn cầu 3 năm của WatchB kể từ thời điểm mua. Để đủ điều kiện nhận dịch vụ bảo hành, bạn cần cung cấp bằng chứng 
                mua hàng (ví dụ: biên lai đồng hồ WatchB) từ nhà bán lẻ WatchB được ủy quyền.</p>
        </p>
        <p>...</p>
    </div>
    
    <div class="col-2"> </div>
</div>