<div style="padding-top: 80px;">
    <p>
        <h4><b>Chính sách bảo hành</b></h4>
        <p>
            Chúng tôi rất lấy làm tiếc và thành thật xin lỗi Quý khách hàng khi sản phẩm Bị hư hỏng buộc phải mang đến bảo hành tại Hệ thống cửa hàng WatchB. 
        </p>
        <p>
            Chính sách bảo hành là trọng tâm chiến lược mà chúng tôi luôn ưu tiên đặt lên hàng đầu. Chúng tôi đã, đang và chắc chắn xây dựng các điều khoản bảo hành một cách chặt chẽ, rõ ràng luôn đảm bảo quyền lợi tốt nhất dành cho tất cả Quý khách hàng đã tin tưởng sử dụng dịch vụ tại WatchB. Chính sách bảo hành sẽ được áp dụng từ ngày 21/04/2022. Theo đó, chúng tôi vững tin công bố chi tiết nội dung chính sách bảo hành độc quyền của WatchB như sau:
        </p>

        <p>Chi tiết về chính sách bảo hành độc quyền tại WatchB:</p>
        <p>I. DÙNG THỬ 7 NGÀY MIỄN PHÍ</p>
        <p>II. CHÍNH SÁCH BẢO HÀNH ĐỒNG HỒ MỚI</p>
        <p>III. CHÍNH SÁCH BẢO HÀNH ĐỒNG HỒ CŨ</p>
        <p>IV. BẢNG GIÁ BẢO HÀNH</p>
        <p>V. TÌNH TRẠNG KHÔNG BẢO HÀNH</p>
        <p>VI. CÁCH THỨC BẢO HÀNH</p> 
        <p>Bên cạnh gói Bảo hành tiêu chuẩn (mặc định), chúng tôi còn cung cấp những gói Bảo hành mở rộng để Quý khách hàng có thể chọn lựa như: Bảo hành 10 năm, Bảo hành rơi vỡ - vô nước, Bảo hành sửa chữa tận nhà, Bảo hành 1 đổi 1 sản phẩm hoàn toàn Miễn phí,... </p>
        
        <p>I. DÙNG THỬ 7 NGÀY MIỄN PHÍ</p>
        <p>- Tất cả điện thoại, máy tính bảng, máy tính xách tay đã qua sử dụng, Quý khách hoàn toàn thoải mái trải nghiệm sử dụng tất cả tính năng sản phẩm trong 7 ngày đầu tiên.</p>
        <p>- Nếu sản phẩm bị lỗi hoặc không phù hợp với nhu cầu, mục đích sử dụng, Quý khách có thể yêu cầu đổi 1 sản phẩm khác hoặc nhận lại tiền 100% giá trị sản phẩm.</p>
        <p>Lưu ý: Máy đổi trả phải giữ nguyên hiện trạng ban đầu, không có dấu hiệu trầy cấn, móp, rơi vỡ, vào nước, dính tài khoản, mất vân tay và còn đầy đủ phụ kiện đi kèm.</p>

        <p>II. CHÍNH SÁCH BẢO HÀNH ĐỒNG HỒ MỚI</p>...
        <p>III. CHÍNH SÁCH BẢO HÀNH ĐỒNG HỒ CŨ</p>...
        <p>IV. BẢNG GIÁ BẢO HÀNH</p>....
        <p>V. TÌNH TRẠNG KHÔNG BẢO HÀNH</p>...
        <p>VI. CÁCH THỨC BẢO HÀNH</p>...
    </p>
</div>