<main class="main-content " role="main">
    <h1 class="page-title no-header-image">Giới thiệu</h1>
    <div class="text-only rte">
    <p style="text-align: center; margin-top: 0px;">Thời gian tự nhiên thì vô hạn nhưng mỗi người lại chỉ có một số năm hữu hạn để sống. Thậm chí, chẳng ai biết được liệu ngày mai mình có còn hiện diện trên cuộc đời này. Vì vậy, hãy sống theo cách bạn muốn, chọn những thứ bạn cảm thấy phù hợp và theo đuổi những điều bạn thực sự yêu thích. Đừng sống theo định hướng, mong muốn của người khác bởi họ không thể vẽ đường mãi cho bạn được.</p>
    <p>Cuộc đời là của mình,dùng thời gian mình có để thực hiện những hoài bão, đam mê nhé!</p>
    <p style="text-align: center;">Và thời gian sẽ luôn được theo dõi khi đến với chúng tôi - WatchB</p>
    <p style="text-align: center;"> <b>Tác giả</b> </p>
    <p style="text-align: center;">Thành viên: Nguyễn Phú Bình, Dương Thị Cẩm Giang, Lê Phú Thọ</p>
	<p style="text-align: center;">Môn: Công nghệ và lập trình tích hợp nâng cao</p>
	<p style="text-align: center;">GIáo viên: Trần Thị Minh Khoa</p>
    <p>&nbsp;</p>
    <ul></ul>
    </div>

</main>

<style>
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
.main-content {
	max-width: 1400px;
	padding: 80px 15px 0;
	margin: 0 auto;
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: -moz-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main-content {
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.template-page .main-content, .template-page .main-content {
	padding-top: 81px;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased !important;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #5b5d62;
	font-size: 16px;
	line-height: 1.625;
}
body {
	background: white;
}
html {
	font-size: 100%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
	font-family: sans-serif;
}
html {
	height: 100%;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	color: #2b2b2b;
	margin-top: 30px;
	-webkit-font-smoothing: initial;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h1 {
	font-size: 40px;
	margin-bottom: 20px;
	font-size: 28px;
}
.page-title {
	margin: 0 0 90px;
	text-align: center;
}
.no-header-image {
	margin-top: 45px !important;
}
.template-page .page-title {
	margin: 45px 15px;
}
.clearfix, .rte, .main-header, .cart-tools, .cart-additional-checkout-buttons, .template-password .password-subscribe-form, .template-password .password-form-wrapper, .template-moonwatch.collection .journey-wrapper .journey-content, .template-moonwatch.collection .bte-images-wrapper .bte-images-content, .template-grammywatch.collection .hero-footer, .template-grammywatch.collection .picture-cols .row, .template-grammywatch.collection .text-cols, .template-grammywatch.collection .watch-info-cols .row {
	*zoom: 1: ;
}
.rte {
	word-break: break-word;
}
.clearfix::before, .rte::before, .main-header::before, .cart-tools::before, .cart-additional-checkout-buttons::before, .template-password .password-subscribe-form::before, .template-password .password-form-wrapper::before, .template-moonwatch.collection .journey-wrapper .journey-content::before, .template-moonwatch.collection .bte-images-wrapper .bte-images-content::before, .template-grammywatch.collection .hero-footer::before, .template-grammywatch.collection .picture-cols .row::before, .template-grammywatch.collection .text-cols::before, .template-grammywatch.collection .watch-info-cols .row::before, .clearfix::after, .rte::after, .main-header::after, .cart-tools::after, .cart-additional-checkout-buttons::after, .template-password .password-subscribe-form::after, .template-password .password-form-wrapper::after, .template-moonwatch.collection .journey-wrapper .journey-content::after, .template-moonwatch.collection .bte-images-wrapper .bte-images-content::after, .template-grammywatch.collection .hero-footer::after, .template-grammywatch.collection .picture-cols .row::after, .template-grammywatch.collection .text-cols::after, .template-grammywatch.collection .watch-info-cols .row::after {
	content: " ";
	display: table;
}
.clearfix::after, .rte::after, .main-header::after, .cart-tools::after, .cart-additional-checkout-buttons::after, .template-password .password-subscribe-form::after, .template-password .password-form-wrapper::after, .template-moonwatch.collection .journey-wrapper .journey-content::after, .template-moonwatch.collection .bte-images-wrapper .bte-images-content::after, .template-grammywatch.collection .hero-footer::after, .template-grammywatch.collection .picture-cols .row::after, .template-grammywatch.collection .text-cols::after, .template-grammywatch.collection .watch-info-cols .row::after {
	clear: both;
}
p, pre {
	margin: 1em 0;
}
ul {
	list-style: outside none;
}
.rte p, .rte ul, .rte ol, .rte dl, .rte blockquote, .rte table, .rte pre, .rte form, .rte div, .rte h1, .rte h2, .rte h3, .rte h4, .rte h5, .rte h6 {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	padding-left: 15px;
	padding-right: 15px;
}
.rte > *:first-child {
	margin-top: 0px;
}
.template-page .rte p, .template-page .rte div {
	max-width: 720px;
	padding-left: 15px;
	padding-right: 15px;
}
dl, menu, ol, ul {
	margin: 1em 0;
}
menu, ol, ul {
	padding: 0 0 0 40px;
}
ul, ol, dl {
	padding: 0;
	margin: 23px 0;
}
.rte ul {
	list-style: disc;
}
.rte ul, .rte ol, .rte dl {
	padding-left: 30px;
}
.rte > *:last-child {
	margin-bottom: 0px;
}
</style>
