<div class="row" style="padding-top: 50px;">
    <div class="col-2"> </div>
    <div class="col-8 pt-4 mt-4" style="padding-top: 30px;">
        <form method="" action="/">  <h4>Thông tin liên hệ</h4>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Họ tên</label>
                <input type="text" class="form-control" id="exampleInputName">
            </div>
            <div class="mb-3">
                <label for="exampleInputSdt" class="form-label">Số điện thoại</label>
                <input type="number" class="form-control" id="exampleInputSdt">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Địa chỉ Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất kỳ ai khác.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputVD" class="form-label">Vấn đề cần liên hệ</label><br>
                <textarea class="col-12"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Gửi</button>
        </form><br><br><br>
        <div class="diaChi">
            <p><i>Hoặc bạn có thể đến trực tiếp cửa hàng của chúng tôi tại địa chỉ</i></p>
            <p style="text-align: center"><b>
                189B Trung Mĩ Tây, quận 12, Thành phố Hồ Chí Minh
                <br>Holine: 0374123499
                <br>Fax: 0123 5891 1838
                <br>Gmail: watchB@gmail.com
                </b>
            </p>
        </div>
    </div>
    
    <div class="col-2"> </div>
</div>